div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

.table td img.brand-img,
.table th img.brand-img {
    width: 50%;
    height: auto;
    max-width: 100%;
}

.bootstrap-tagsinput {
    line-height: 32px !important;
    display: block !important;
}
.admin-profile-style-static {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    background: #7571f9;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.admin-big-profile-style-static {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 10px;
    text-align: center;
    line-height: 100px;
    background: #7571f9;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}
.admin-big-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
