

.section {
    grid-column: 1 / 3;
}

.hear-our-point {
    grid-column: 1 / 3;
    text-align: center;
}


/* Only stick if you can fit */
@media (min-width: 360px) {
    body {
        margin: 0;
        /* display: grid; */
        /* grid-template-columns: 40% auto; */
        font-family: "Avenir LT Std";
        /* this breaks position sticky in Firefox */
        /* overflow-x: hidden; */
    }

    .nav-apply .ul-apply {
        text-align: left;
        font-size: 14px;
        list-style: none;
        margin-right: -23px;
        padding: 0px 0 0 30px;
    }

    .nav-apply .ul-apply {
        position: sticky;
        top: 0;
    }
}

@media (min-width: 1200px) {
    body {
        margin: 0;
        display: grid;
        grid-template-columns: 55% auto;
        font-family: "Avenir LT Std";
        /* this breaks position sticky in Firefox */
        /* overflow-x: hidden; */
    }

    .nav-apply {
        white-space: nowrap;
        background: #ffffff;
        width: 100%;
        border-right: 2px solid #c4c4c4;
        text-align: right;
    }

    .nav-apply .ul-apply {
        list-style: none;
        margin-right: -23px;
        padding: 100px 0 0 100px;
        text-align: right;
    }

}

.nav-apply .ul-apply .li-apply .a {
    display: block;
    padding: 0.5rem 1rem;
    color: rgb(33, 118, 247);
    text-decoration: none;
}

.nav-apply .ul-apply .li-apply a::after {
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    margin-left: 1rem;
    background-color: rgba(156, 13, 13, 0);
}

.nav-apply .ul-apply .li-apply a.current::after {
    /* add the new bullet point */
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    margin-left: 1rem;
    background-color: rgb(33, 118, 247);
}

.dev-apply {
    display: grid;
    grid-template-columns: auto 15%;
}

section {
    /* padding: 2rem; */
    margin: 0 0 0 0;
    height: 350px;
}

.main {
    padding: 50px 50px 0 50px;
    /* height: 400px; */
    /* overflow: scroll; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main ::-webkit-scrollbar {
    display: none;
}

.main {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
}

footer {
    grid-column: 1 / 3;
    background: lightgrey;
}


/* page apply */
#left {
    margin: 90px 0;
    text-align: center;
    /* height:50%; */
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow-y: scroll;
}




#right {
    margin: 70px 70px;
    height: 70%;
    text-align: center;
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    /* overflow-y: scroll; */
    /* width: 25%; */
}

.apply-card {
    background-color: burlywood;
    border-radius: 15px;
    width: 60%;
    margin-left: 17%;
}
