.col-wework {
    height: 300px;
}
.col-arrow-up {
    position: absolute;
    left: 40%;
    top: auto;
    right: auto;
    bottom: 0%;
    width: 65px;
}
.col-comp {
    height: 50px;
}

.blog-img {
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    background-color: #fff;
}

.col-our-blog {
    /* height: 500px; */
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}
.col-our-blog h4{
    font-size: 1.5rem;
}
.post-title-home {
    display: block;
    text-transform: uppercase;
    color: #353858;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 15px 0;
    transition: all 0.3s;
}

.our-speaker {
    padding-top: 30px;
    height: 250px;
}

.our-mentor {
    padding-top: 30px;
    height: 280px;
}

.cal-collab {
    height: 330px;
}

.col-video {
    background-color: #222c6c;
    margin-top: -50px;
    border-radius: 5px;
}

.team-content span {
    height: 80px;
}

.col-justify {
    text-align: center;
    font-family: "Avenir LT Std";
}
.col-text-color {
    color: #656970;
}

.blog-date-n {
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.3s;
  }

#merox-blog-area{
background-color: #133e63;
}
.merox-pagination .page-item:hover .page-link, .merox-pagination .page-item.active .page-link {
    color: #ffffff;
    background-color: #0d6efd;
  }

  .merox-pagination .page-item .page-link {
    border: 1px solid #eeeeee;
    color: #0d6efd;
    display: inline-block;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    font-size: 18px;
    background-color: #fff;
  }
#merox-blog-area h1{
    color:#ffffff;
}

@media (min-width: 360px) {
    #hero {
        /* padding-left: 60px; */
      }
      .col-comp-text{
          text-align: center;
      }
    .videos-icon a {
        height: 40px;
        width: 40px;
        font-size: 15px;
        line-height: 40px;
        opacity: 0.8;
    }
    .row-partners {
        margin-bottom: 50px;
    }
    .col-acc-blink {
        position: absolute;
        left: -2%;
        top: auto;
        right: auto;
        bottom: -12%;
    }
    .col-acc-arrow {
        position: absolute;
        left: 40%;
        top: auto;
        right: auto;
        bottom: 10%;
    }
    .col-blink-bottom {
        position: absolute;
        left: -2%;
        top: auto;
        right: auto;
        bottom: -12%;
    }
    .col-arrow-bottom {
        position: absolute;
        left: 38%;
        top: auto;
        right: auto;
        bottom: 5%;
    }
    .col-blink-up {
        position: absolute;
        left: 15%;
        top: auto;
        right: auto;
        bottom: -20%;
    }
    .col-arrow-up {
        position: absolute;
        left: 80%;
        top: auto;
        right: auto;
        bottom: 0%;
        width: 65px;
    }
}

@media (min-width: 768px) {
    .col-our-partners {
        height: 780px;
    }
    .col-acc-blink {
        position: absolute;
        left: -2%;
        top: auto;
        right: auto;
        bottom: 7%;
    }
    .col-acc-arrow {
        position: absolute;
        left: 50%;
        top: auto;
        right: auto;
        bottom: 25%;
    }
    .col-blink-bottom {
        position: absolute;
        left: -2%;
        top: auto;
        right: auto;
        bottom: -10%;
    }
    .col-arrow-bottom {
        position: absolute;
        left: 44%;
        top: auto;
        right: auto;
        bottom: 5%;
    }
    .col-blink-up {
        position: absolute;
        left: -2%;
        top: auto;
        right: auto;
        bottom: -15%;
    }
    .col-arrow-up {
        position: absolute;
        left: 32%;
        top: auto;
        right: auto;
        bottom: 0%;
        width: 65px;
    }

    .row-partners {
        margin-bottom: -30px;
    }

    .col-team-united {
        height: 600px;
    }
}

@media (min-width: 992px) {
    .col-companies {
        height: 300px;
        width: 500px;
        text-align: center;

    }
    .col-acc-blink {
        position: absolute;
        left: 0%;
        top: auto;
        right: auto;
        bottom: 25%;
    }
    .col-acc-arrow {
        position: absolute;
        left: 40%;
        top: auto;
        right: auto;
        bottom: 45%;
    }
    .col-blink-bottom {
        position: absolute;
        left: 0%;
        top: auto;
        right: auto;
        bottom: -10%;
    }
    .col-arrow-bottom {
        position: absolute;
        left: 37%;
        top: auto;
        right: auto;
        bottom: 5%;
    }
    .col-blink-up {
        position: absolute;
        left: -2%;
        top: auto;
        right: auto;
        bottom: -15%;
    }
    .col-arrow-up {
        position: absolute;
        left: 25%;
        top: auto;
        right: auto;
        bottom: 0%;
        width: 65px;
    }
    .col-our-partners {
        height: 650px;
    }

    .col-team-united {
        height: 600px;
    }

    .col-join {
        margin-top: -130px;
        margin-left: -80px;
    }
    .col-comp-text {
        margin-top: 30px;
        font-family: "Avenir LT Std";
    }
}

@media (min-width: 1000px) {
    .col-comp-text {
        margin-top: 30px;
        font-family: "Avenir LT Std";
    }
    .col-our-partners {
        height: 600px;
    }
    .col-acc-blink {
        position: absolute;
        left: 0%;
        top: auto;
        right: auto;
        bottom: 25%;
    }
    .col-acc-arrow {
        position: absolute;
        left: 40%;
        top: auto;
        right: auto;
        bottom: 40%;
    }
    .col-blink-bottom {
        position: absolute;
        left: 0%;
        top: auto;
        right: auto;
        bottom: -10%;
    }
    .col-arrow-bottom {
        position: absolute;
        left: 37%;
        top: auto;
        right: auto;
        bottom: 5%;
    }
    .col-arrow-up {
        position: absolute;
        left: 25%;
        top: auto;
        right: auto;
        bottom: 0%;
        width: 65px;
    }
    .col-team-united {
        height: 600px;
    }

    .col-join {
        margin-top: -130px;
        margin-left: -65px;
    }
}

@media (min-width: 1200px) {
    #hero {
        padding-left: 60px;
      }
    .col-comp-text {
        margin-top: 30px;
        font-family: "Avenir LT Std";
        text-align: center;
    }
    .videos-icon a {
        height: 50px;
        width: 50px;
        font-size: 16px;
        line-height: 55px;
        opacity: 0.8;
    }
    .col-our-partners {
        height: 610px;
    }
    .col-acc-blink {
        position: absolute;
        left: 0%;
        top: auto;
        right: auto;
        bottom: 35%;
    }
    .col-blink-bottom {
        position: absolute;
        left: 0%;
        top: auto;
        right: auto;
        bottom: 0%;
    }
    .col-acc-arrow {
        position: absolute;
        left: 40%;
        top: auto;
        right: auto;
        bottom: 50%;
    }
    .col-arrow-bottom {
        position: absolute;
        left: 30%;
        top: auto;
        right: auto;
        bottom: 20%;
    }
    .col-arrow-up {
        position: absolute;
        left: 40%;
        top: auto;
        right: auto;
        bottom: 0%;
        width: 65px;
    }
    .col-team-united {
        height: 600px;
    }

    .img-partner {
        margin-left: auto;
        margin-right: auto;
        height: 500px;
        width: 800px;
    }

    .col-join {
        margin-top: -130px;
        margin-left: -80px;
    }
}

/* for mozila style */
@-moz-document url-prefix() {
    /* Hide scrollbar for IE, Edge add Firefox */
    #left {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }
    @media (min-width: 360px) {
        .row-partners {
            margin-bottom: 130px;
        }
        .col-arrow-up {
            position: absolute;
            left: 72%;
            top: auto;
            right: auto;
            bottom: 0%;
            width: 65px;
        }
        .col-comp-text {
            margin-top: 30px;
            font-family: "Avenir LT Std";
            text-align: center;
        }
    }

    @media (min-width: 768px) {
        .col-team-united {
            height: 550px;
        }
        .col-arrow-up {
            position: absolute;
            left: 32%;
            top: auto;
            right: auto;
            bottom: 0%;
            width: 65px;
        }
        .col-companies {
            text-align: center;
            height: 310px;
        }

        .col-our-partners {
            height: 780px;
        }

        .row-partners {
            margin-bottom: -30px;
        }
    }

    @media (min-width: 992px) {
        .col-companies {
            text-align: center;
            height: 200px;
            width: 500px;
        }
        .col-arrow-up {
            position: absolute;
            left: 25%;
            top: auto;
            right: auto;
            bottom: 0%;
            width: 65px;
        }
        .col-our-partners {
            height: 550px;
        }
    }

    @media (min-width: 1000px) {
        .col-companies {
            text-align: center;
            width: 500px;
            height: 250px;
        }

        .col-our-partners {
            height: 600px;
        }
        .col-arrow-up {
            position: absolute;
            left: 25%;
            top: auto;
            right: auto;
            bottom: 0%;
            width: 65px;
        }
    }

    @media (min-width: 1200px) {
        .col-comp {
            height: 50px;
        }
        .col-arrow-up {
            position: absolute;
            left: 40%;
            top: auto;
            right: auto;
            bottom: 0%;
            width: 65px;
        }

        .col-comp-text {
            margin-top: 50px;
            margin-bottom: 50px;
            font-family: "Avenir LT Std";
        }

        .col-companies {
            text-align: center;
            width: 500px;
            height: 300px;
        }

        .col-our-partners {
            height: 550px;
        }

        .col-join {
            margin-top: -130px;
            margin-left: -80px;
        }
    }
}

/* page apply */
#left {
    margin: 90px 0;
    text-align: center;
    /* height:50%; */
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#left::-webkit-scrollbar {
    display: none;
}

#right {
    margin: 70px 70px;
    height: 70%;
    text-align: center;
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    /* overflow-y: scroll; */
    /* width: 25%; */
}

.apply-card {
    background-color: burlywood;
    border-radius: 15px;
    width: 60%;
    margin-left: 17%;
}

#hop h1 {
    font-weight: 900;
    text-align: center;
  }

  #hop a {
    font-family: "Avenir LT Std";
  }

  #hop a:hover {
    font-family: "Avenir LT Std";
    color: #ffffff;
  }

  .jof{
    background-color: #3476b0;
    border-radius: 0px 5px 5px 0px;
    padding: 30px 0 30px 70px;
    margin-top:100px;
    margin-left: -45px;
  }


  .single-blog-content .post-title {

    font-size: 20px;
  }

.div_footer_hypers {
    background-color:#eeeeee;
    display:inline;
}
.ul_footer_hypers li{
    display: inline;
    /* margin-left: 20px; */
}

#footer p
{
    font-size: 14px;
}
